<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Add product</h1>

    <form method ="post" action="/">
        <p>Enter product name:</p>
        <p>Name: <input type="text" name="productName"></p>
        <p>Code: <input type="text" name="productCode"></p>
        <p>Price: <input type="text" name="ProductPrice"></p>
            <p><input type="submit" value="Add"></p>
    </form>

</body>
</html>