<header>
    <h1>Sharp Cuts Barber Shop</h1>
    <div class="nav">
        <a href="/">Home</a>
        <a href="/dashboard">My Dashboard</a>
        <a href="/profiles">Profile</a>
        <a href="/signup">Book Appointment</a>
        <a href="/survey">Leave Feedback</a>
        <a href="/feedback">View Feedback</a>
        <a href="/qa">FAQ</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a href="https://dinle.mtacloud.co.il/">Shop</a>
        <form method="post" action="/logout">
            <button type="submit">Logout</button>
        </form>
    </div>
</header>
