<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barbers profile's</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
        <header>
        <h1>Sharp Cuts Barber Shop</h1>
        <div class="nav">
            <a href="/">Home</a>
            <a href="/menu">Services</a>
            <a href="/dashboard">My Dashboard</a>
            <a href="/profiles">Profile</a>
            <a href="/signup">Book Appointment</a>
            <a href="/survey">Leave Feedback</a>
            <a href="/feedback">View Feedback</a>
            <a href="/qa">FAQ</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="https://dinle.mtacloud.co.il/">Shop</a>
            <form method="post" action="/logout">
                <button type="submit">Logout</button>
            </form>
        </div>
    </header>
    <main>
        <h2>Barbers Profiles</h2>
        <ul>
            <li><a href="/profiles/Nimrod">Nimrod</a></li>
            <li><a href="/profiles/Yovel">Yovel</a></li>
            <li><a href="/profiles/Din">Din</a></li>
        </ul>
    </main>
</body>
</html>